react-common-library:registry=https://repo.eon-cds.de/artifactory/api/npm/feh-common-repo/
//repo.eon-cds.de/artifactory/api/npm/feh-common-repo/:_auth = cHJhYmFrYXJhbi5hcnVtdWdhbUBoY2wuY29tOmNtVm1kR3R1T2pBeE9qRTNNall4TWpZNE1EVTZkVkJ5V2sxbGIwNU9hRkpHZVRseVJrbFBURkZ2Yld4cFdtNWw=
email = prabakaran.arumugam@hcl.com
always-auth = true