.create-product-wrapper {
    background: #f9f4ef;
    padding: 5% 20px;
    .date-picker-container {
        padding-left: 5px;
        padding-top: 5px;
        .MuiFormControl-root {
            margin-top: 0px;
        }
    }
    .MuiFormControl-root, .MuiAutocomplete-root {
        width: 97%;
        margin: 8px 0;
    }

    .quantity-field {
        // width: 95%;
        // margin: 30px 0;
        margin-top: 20px;
    }

    .create-button {
        width: 97%;
        padding: 10px 0;
        margin-top: 10%;
        margin-bottom: 10%;
        background-color: #9f2c5e;
    }
    .MuiRadio-root.Mui-checked, .MuiInputLabel-root.Mui-focused, .MuiFormLabel-root.Mui-focused {
        color: #9f2c5e;
    }

    .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #9f2c5e;
    }

    .mic-icon-button {
        &:hover {
            background-color: #9f2c5e;
        }
    }
}